.ForecastItem {
  display: inline-table;
  text-align: center;
}

.TempMaxForecast {
  color: #cb3724;
}
.TempMaxForecast,
.TempMinForecast {
  line-height: 1em;
}

.Icons {
  border-radius: 50px;
  display: block;
  margin: 10px auto;
}
