/* .ChangeMetric {
  display: block;

  white-space: nowrap;
} */

/* .ChangeMetric .active {
  color: #48484a;
  cursor: default;
  display: inline-block;
}
.ChangeMetric .active:hover {
  text-decoration: none;
} */

.Temperature {
  font-size: 40px;
}

.btn-primary {
  background-color: #3382ea;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  width: 40px;
}
