.WeatherAppWrapper {
  font-family: "Patrick Hand", cursive;
  text-shadow: #48484a36 1px 1px;
  padding: 15px;
  border: 1px solid #59514f;
  border-style: inset;
  border-width: 2px;
  background-color: #ffffff;
}

.RowHeader button,
.RowHeader input,
.RowHeader .SetDate {
  font-size: 18px;
  text-shadow: #48484a36 1px 1px;
}

.AppTitle {
  font-family: "Bangers", sans-serif;
  color: #010101;
  text-shadow: 2px 2px 2px #a5a5aa9a;
  text-align: center;
  font-size: 40px;
}

.RowHeader {
  background-color: #0c0c0c;
  padding-left: 15px;
}

.SetDate {
  margin-left: 10px;
  font-size: 16px;
  color: #ffffff;
}

.City {
  font-family: "Bangers", sans-serif;
  padding-left: 20px;
  margin-bottom: 0px;
  font-size: 38px;
}
.WeatherDescrip {
  text-align: center;
  padding: 12px;
  font-size: 24px;
  font-weight: bolder;
}

.Main li {
  list-style: none;
  line-height: normal;
}
.Main {
  font-size: 20px;
  color: #48484a;
}
.DescriptionIcon {
  display: block;
  text-align: center;
}
.weather-forecast-icons {
  width: 100%;
}

.btn-outline-secondary {
  margin-right: 5px;
}

.City,
.RowTodayForecast,
.RowDetailForecast {
  color: #3382ea;
}

.WeatherImageCeld,
.TempCeld {
  display: block;
  text-align: center;
}

.RowTodayForecast {
  margin-top: 28px;
  line-height: 20px;
}

.Loader {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.CurrentTemperatureLabel {
  text-align: center;
}

.Min {
  text-align: right;
}
.Max {
  text-align: left;
}

.RowHeaderForecast {
  display: block;
  margin-top: 28px;
  padding-left: 35px;
}
.ForecastTitle,
h2,
.weather-forecast-temperature {
  color: #48484a;
  font-weight: bold;
}

.NextDays {
  color: #ae2f2f;
  font-size: 16px;
}

.RowDetailForecast {
  text-align: center;
  font-size: 1em;
  padding: 2%;
  line-height: 3px;
}

.weather-forecast-temperature,
.forecast-date {
  font-size: 14px;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}
