.ForecastItem {
  display: block;
  text-align: center;
}

.TempMaxForecast {
  color: #cb3724;
}

.Temperatures {
  display: block;
}

.Icons {
  border-radius: 30px;
  display: block;
  margin: 10px auto;
}
