.ForecastItem {
  display: inline;
  text-align: center;
  line-height: 1em;
}

.TempMaxForecast {
  color: #cb3724;
}
/* .TempMaxForecast,
.TempMinForecast {
  line-height: 1em;
} */

.Icons {
  border-radius: 50px;
  display: block;
  margin: 10px auto;
}
