.ChangeMetric {
  display: block;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

.ChangeMetric .active {
  color: #48484a;
  cursor: default;
  display: inline-block;
}
.ChangeMetric .active:hover {
  text-decoration: none;
}

.Temperature {
  font-size: 40px;
}
